common --nosandbox_default_allow_network
common --incompatible_allow_tags_propagation
common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

build --incompatible_strict_action_env
build --experimental_reuse_sandbox_directories

build --nolegacy_external_runfiles

test --incompatible_exclusive_test_sandboxed
test --build_tests_only

try-import %workspace%/.user.bazelrc

build --copt="-Wno-incompatible-function-pointer-types" 
build --copt="-Wno-implicit-const-int-float-conversion"
build --copt="-Wno-implicit-function-declaration"
build --host_copt="-Wno-implicit-function-declaration"
build --copt="-Wno-int-conversion"
